.imagePreview {
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 300px;
}

.uploadImgInput {
  display: block;
  margin: auto;
}

.imagePreviewContainer {
  position: relative;
}

.removeImg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
}

.removeImg:hover {
  opacity: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 26.43%,
    rgba(0, 0, 0, 0.8) 72.41%
  );
}

.removeImgBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-image: url(../../images/cross.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
