.partyCard {
  display: block;
  height: 260px;
  background-position: center center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.partyCard .partyParticipants {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.partyInfo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    240deg,
    rgba(0, 0, 0, 0) 26.43%,
    rgba(0, 0, 0, 0.8) 72.41%
  );
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease;
  padding: 15px;
  box-sizing: border-box;
  color: white;
}

.partyCard:hover .partyInfo {
  opacity: 1;
}

.partyCard ul {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.partyName {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 99;
}

@media (max-width: 500px) {
  .partyName {
    font-size: 5vw;
  }
}
