@font-face {
  font-family: Pragmatica-ExtraLight;
  src: url(./fonts/Pragmatica-ExtraLight.ttf);
}

body {
  font-family: Pragmatica-ExtraLight;
  background-color: #e5e9ec;
  margin: 0;
}

a {
  color: #c82067;
  text-decoration: none;
}
